{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>Document</title>
</head>
<body>
    {% if val %}
    <h1>{{val}}</h1>
    {% else %}
    <h2>value shoulb be true</h2>
    {% endif %}

    {% if nm and st %}
    <h1>{{st}} seats are available for {{nm}} course. </h1>
    {% endif %}

    {% if nm == 'Django' and st == 5 %}
    <h1>{{st}} seats are available for {{nm}} course. </h1>
    {% endif %}
    
    {% if st or nm %}
    <h1>{{st}} seats are available for {{nm}} course.</h1>
    {% endif %}

    {% if not st %}
    <h1>Seats are not available</h1>
    {% endif %}
</body>
</html>